<div {{ attributes }}>
    <div class="row justify-content-md-center mt-3">
        <div class="col-md-auto">
            {% for i in 1..50 %}
                {% set condition = loop.index % 10 == 0 %}
                {% if condition %}
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                {% endif %}
                <input type="checkbox" class="btn-check" id="btncheck_{{ i }}" value="{{ i }}" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck_{{ i }}">
                    {{ i | str_pad(2,'0') }}
                </label>
                {% if condition %}
                    </div>
                    </br>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row justify-content-md-center mt-3">
        <div class="col-md-auto">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button id="search" type="button" class="btn btn-outline-primary"
                            data-model="query"
                            value="{{ query }}"
                            data-action="live#update"
                    >Chercher</button>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <select id="limit" class="form-select" aria-label="Limit" data-model="limit">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center mt-3">
        <div class="col-md-auto">
            <span data-loading="show">
                <div class="container-loader">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="shadow"></div>
                    <div class="shadow"></div>
                    <div class="shadow"></div>
                </div>
            </span>
            <div data-loading="hide">
                <div class="row justify-content-md-center mt-3">
                    <div class="col-md-auto">
                        <table class="table table-striped">
                            <thead>
                            {% if query is empty %}
                                <tr>
                                    <th>{{ knp_pagination_sortable(this.pagination, 'NbDraw', 'draw.nbDraw') }}</th>
                                    <th>{{ knp_pagination_sortable(this.pagination, 'Day', 'draw.day') }}</th>
                                    <th>{{ knp_pagination_sortable(this.pagination, 'Date', 'draw.date') }}</th>
                                    <th>{{ knp_pagination_sortable(this.pagination, 'Ball1', 'draw.ball1') }}</th>
                                    <th>{{ knp_pagination_sortable(this.pagination, 'Ball2', 'draw.ball2') }}</th>
                                    <th>{{ knp_pagination_sortable(this.pagination, 'Ball3', 'draw.ball3') }}</th>
                                    <th>{{ knp_pagination_sortable(this.pagination, 'Ball4', 'draw.ball4') }}</th>
                                    <th>{{ knp_pagination_sortable(this.pagination, 'Ball5', 'draw.ball5') }}</th>
                                    <th>{{ knp_pagination_sortable(this.pagination, 'LuckyBall', 'draw.luckyBall') }}</th>
                                    <th>{{ knp_pagination_sortable(this.pagination, 'WinComboAsc', 'draw.winComboAsc') }}</th>
                                    <th>{{ knp_pagination_sortable(this.pagination, 'actions', '') }}</th>
                                </tr>
                            {% else %}
                                <tr>
                                    <th>NbDraw</th>
                                    <th>Day</th>
                                    <th>Date</th>
                                    <th>Ball1</th>
                                    <th>Ball2</th>
                                    <th>Ball3</th>
                                    <th>Ball4</th>
                                    <th>Ball5</th>
                                    <th>LuckyBall</th>
                                    <th>WinComboAsc</th>
                                    <th>actions</th>
                                </tr>
                            {% endif %}
                            </thead>
                            <tbody>
                            {% for draw in this.pagination %}
                                <tr>
                                    <td>{{ draw.nbDraw }}</td>
                                    <td>{{ draw.day }}</td>
                                    <td>{{ draw.date ? draw.date|date('Y-m-d') : '' }}</td>
                                    <td>{{ draw.ball1 }}</td>
                                    <td>{{ draw.ball2 }}</td>
                                    <td>{{ draw.ball3 }}</td>
                                    <td>{{ draw.ball4 }}</td>
                                    <td>{{ draw.ball5 }}</td>
                                    <td>{{ draw.luckyBall }}</td>
                                    <td>{{ draw.winComboAsc }}</td>
                                    <td>
                                        <a href="{{ path('app_draw_show', {'id': draw.id}) }}">show</a>
                                    </td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="30">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% if query is empty %}
                    <div class="row justify-content-md-center mt-3">
                        <div class="col-md-auto">
                            <div class="navigation">
                                {{ knp_pagination_render(this.pagination) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
