<div class="row justify-content-md-center mt-3">
    <div class="col-md-auto">
        <div{{ attributes }}>
            <input
                    type="text"
                    data-model="query"
            >

            <div data-loading="addClass(opacity-50)">
                <div class="row justify-content-md-center mt-3">
                    <div class="col-md-auto">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(this.pagination, 'Day', 'draw.day') }}</th>
                                <th>{{ knp_pagination_sortable(this.pagination, 'Date', 'draw.date') }}</th>
                                <th>{{ knp_pagination_sortable(this.pagination, 'Ball1', 'draw.ball1') }}</th>
                                <th>{{ knp_pagination_sortable(this.pagination, 'Ball2', 'draw.ball2') }}</th>
                                <th>{{ knp_pagination_sortable(this.pagination, 'Ball3', 'draw.ball3') }}</th>
                                <th>{{ knp_pagination_sortable(this.pagination, 'Ball4', 'draw.ball4') }}</th>
                                <th>{{ knp_pagination_sortable(this.pagination, 'Ball5', 'draw.ball5') }}</th>
                                <th>{{ knp_pagination_sortable(this.pagination, 'LuckyBall', 'draw.luckyBall') }}</th>
                                <th>{{ knp_pagination_sortable(this.pagination, 'WinComboAsc', 'draw.winComboAsc') }}</th>
                                <th>{{ knp_pagination_sortable(this.pagination, 'actions', '') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for draw in this.pagination %}
                                <tr>
                                    <td>{{ draw.day }}</td>
                                    <td>{{ draw.date ? draw.date|date('Y-m-d') : '' }}</td>
                                    <td>{{ draw.ball1 }}</td>
                                    <td>{{ draw.ball2 }}</td>
                                    <td>{{ draw.ball3 }}</td>
                                    <td>{{ draw.ball4 }}</td>
                                    <td>{{ draw.ball5 }}</td>
                                    <td>{{ draw.luckyBall }}</td>
                                    <td>{{ draw.winComboAsc }}</td>
                                    <td>
                                        <a href="{{ path('app_draw_show', {'id': draw.id}) }}">show</a>
                                    </td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="30">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <div class="col-md-auto">
                        <div class="navigation">
                            {{ knp_pagination_render(this.pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
